
body {

background-color: #457879;

}

.exteriror {
  border: thin solid black;
  background-color: #ffffff;
  margin: -1em;
  padding: 2em;
  margin-right: 2em;
  margin-left:2em;
  padding-bottom: 2em;
  font-size: 2em;

}


.interior {
  background-color: #eceadc;
  padding: 1.5em;
  font-size: 2em;
  border-radius: 10px

}

.caja2 {

}
